       <!--Footer-->
<footer id="mobile_footer" class="page-footer center-on-small-only unique-color-dark pt-0 footer-spacing">
    <div style="background-color: #94618e;">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 icon-color">
                    <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right icon-color">
                    <!--Facebook-->
                    <a href="https://www.facebook.com/torsokart/" class="icons-sm fb-ic ml-0"><i class="fab fa-facebook-f white-text mr-sm-5"></i></a>
                    <!--Instagram-->
                    <a href="https://www.instagram.com/torsokart/?hl=en" class="icons-sm ins-ic"><i class="fab fa-instagram white-text mr-lg-5 "> </i></a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div>
    <div class="container mt-5 mb-4 text-center text-md-left icon-color  ">
        <div class="container">
            <div class="mb-r icon-color">
                <h6 class="title font-bold"><strong>Torsokart</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;     background-color: #f4decb;">
                <p style="color: white;">We have  creative and  distinctive designs which match the high  quality fabric of our T-shirts. We deliver high quality custom T-shirts for affordable price. Option of cash on delivery and free shipping are  icing on the cake!!.  You can also order your own custom T-shirt just by submitting your design , you design we deliver. Customer satisfaction is our main motto.</p>
            </div>
        </div>
        <div class="container">
           <div class="row mt-5">
            <!--Second column-->
            <div class="col-lg-4">
                <h6 class="title font-bold"><strong>Products</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px;     background-color: #f4decb;">
                <p id="footer-a"><a href="/">T-Shirts</a></p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-lg-4">
                <h6 class="title font-bold"><strong>Useful links</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background-color: #f4decb;">
                <p id="footer-a"><a href="/contact_us">Contact Us</a></p>
                <p id="footer-a"><a href="/dashbord/AboutUs">About Us</a></p>
            </div>
            <!--/.Third column-->
        
            <!--Fourth column-->
            <div class="col-lg-4" style="color: white;">
                <h6 class="title font-bold"><strong>Contact</strong></h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background-color: #f4decb;">
                <p style="color: white;"><i class="fa fa-home mr-3"></i> LPU, Phagwara,Punjab,INDIA</p>
                <p style="color: white;"><i class="fa fa-envelope mr-3"></i> torsokart@gmail.com</p>
                <p style="color: white;"><i class="fa fa-phone mr-3"></i> +919877429179</p>
            </div>
            <!--/.Fourth column-->

        </div> 
        </div>
        
    </div>
  
    <div class="footer-copyright footer-black">
        <div class="container-fluid">
            © 2017 Copyright
        </div>
    </div>
    <!--/.Copyright -->  
</footer>
    </body>
</html>