<% include ./partials/header %>
<div class="container">
	<p>
	Thank you for being associated with www.torsokart.in. By using our services or the merchandise, hereby, you have agreed upon our terms and conditions. For any queries please contact the www.torsokart.in team.<br><br>

	User agreement :<br><br>

	<span style="color: #17a2b8;">•</span> You agree that- you are the owner of the information, trademarks and logos, and hold the copyrights of the same, which you share on your campaign through www.torsokart.in. And otherwise, you agree to present www.torsokart.in with evidence of valid permissions from the actual owner.<br><br>
	<span style="color: #17a2b8;">•</span> You agree that any trademarks, logos, service marks and copyrights put to use in your campaign, are well in accordance with the restrictions and conditions imposed on the use of Licensed Rights.<br><br>

	<span style="color: #17a2b8;">•</span> You agree that the literature, expression etc. used in your campaign are not in violation of the law, www.torsokart.in policy and are not offensive to a third party.<br><br>

	<span style="color: #17a2b8;">•</span> You agree that upon acknowledgment of any claim which does not fall in line with www.torsokart.in policy, www.torsokart.in holds the sole authority and discretion of taking a decision, of disassociating itself from any ties with your campaign.<br><br>

	<span style="color: #17a2b8;">•</span> You agree to provide required amount of factual information with regards to your campaign and not provide any false information.<br><br>

	<span style="color: #17a2b8;">•</span> You agree to hold www.torsokart.in unrelated towards any legal violation arising from or relating to the usage of www.torsokart.in merchandise<br><br>

	<span style="color: #17a2b8;">•</span> You agree that www.torsokart.in is not responsible for any of your direct or indirect damage, lost profits or other consequences occurred in the event of following the agreement or your use of www.torsokart.in services.<br><br>

	<span style="color: #17a2b8;">•</span> You agree that www.torsokart.in hereby holds the authority to disclose the contact information to a third party that satisfactorily persuades the violation of intellectual property.<br><br>

	<span style="color: #17a2b8;">•</span> You agree not to influence the customers and avoid solicitation, apart from the purchase of the primary merchandise.<br><br>

	<span style="color: #17a2b8;">•</span> The designs that are given by the customer for customised T-shirts will solely be your responsibility www.torsokart.in will not be responsible regarding any legal conflict between the customer and the owner of design.<br><br>

	<span style="color: #17a2b8;">•</span> You hereby, accept to abide by the policy/Terms of Services of www.torsokart.in in whole.<br><br>

	<span style="color: #17a2b8;">•</span> By violating the user agreement, you hence, would be subject to disassociation with www.torsokart.in and any other benefits linked to it.<br><br>

	</p>
</div>
<% include ./partials/footer %>