<% include ../partials/header %>
    <div class="container paddingTopBottom">
        <div class="row">
            <div class="col-lg-3">
                <div class="card border-primary mb-3">
                  <div class="card-header border-primary" style="color: white; background-color:#6351ce;"><i class="fa fa-picture-o" aria-hidden="true"></i> ITEM IMAGE</div>
                  <div class="card-body text-primary">
                    <img class="card-img-top" src=" <%= typeof file != 'undefined' ? file : '' %> ">
                  </div>
                  <div class="card-header border-primary" style="color: white; background-color:#6351ce;">Status:  <%= typeof msg != 'undefined' ? msg : '' %></div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card border-primary" >
                  <div class="card-header border-primary" style="color: white; background-color:#2969b0">
                    <i class="fa fa-user-secret" aria-hidden="true"></i> Admin Section
                  </div>
                  <div class="card-body">

                      <form action="/anime/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" name="myImage" class="custom-file-input">
                            <label class="custom-file-label">Choose file</label>
                          </div>
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" required>Select</button>
                          </div>
                        </div>
                        <hr class="hr-style">
                      </form>


                    <form action="/anime" method="POST">
                        <div class="form-group">
                            <label for="image">Image Url</label>
                            <input type="text" class="form-control" name="image" id="image" value="<%= typeof file != 'undefined' ? file : '' %>">
                        </div>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" name="name" id="name" class="form-control" placeholder="T-Shirt name" required>

                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="cost">Cost</label>
                          <input type="number" name="cost" id="cost" class="form-control" placeholder="₹ 500/-" step="0.01" min="0" required>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="pattern">Pattern</label>
                          <input type="text" name="pattern" id="pattern" class="form-control" placeholder="Solid" required>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="fabric">Fabric</label>
                          <input type="text" name="fabric" id="fabric" class="form-control" placeholder="Cotten" required>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="sleave">Sleave</label>
                          <input type="text" name="sleave" text="sleave" class="form-control" placeholder="Half sleave" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="sutable">Sutable</label>
                          <input type="text" name="sutable" id="sutable" class="form-control" placeholder="Western Wear" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group col-md-6">
                            <label for="size1">Size 1</label>
                            <input type="text" name="size1" text="size1" class="form-control" placeholder="M" required>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group col-md-6">
                            <label for="size2">Size 2</label>
                            <input type="text" name="size2" text="size2" class="form-control" placeholder="XL" required>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group col-md-6">
                            <label for="size3">Size 3</label>
                            <input type="text" name="size3" text="size3" class="form-control" placeholder="XXL" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" id="description" class="form-control" rows="3" required></textarea>
                      </div>
                      <div class="row">
                         <div class="col-lg-6">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-lg-6">
                          <button type="submit" class="btn btn-primary float-right" onclick="window.location.href='/anime'">Preview</button>
                        </div>
                      </div>
                      
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>

