<style>
	.mobile_cart_view {
    	font-size: 13px;
	}
</style>

<div class="card mb-3">
	<div class="mobile_cart_view">SELECTED ADDRESS <span class="float-right">  <button type="submit" class="btn btn-outline-primary btn-sm" onclick="window.location.href='class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;'">Change</button></span></div>
	<hr style="margin: 0;">
		<div class="card-body text-primary">
		<p class="card-title" style="color: #212121;">Name <span class="float-right"><%=foundAdd.firstName%> <%=foundAdd.lastName%> </span></p>
				    
		<p class="card-title" style="color: #212121;">Address<span class="float-right" style="color: green;"> <%=foundAdd.hostelNo%> / <%=foundAdd.roomNo%> </span></p>
	</div>
</div>