<!-- <li class="nav-item"> -->
    <a class="nav-link menu" href="/cart">
    	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
    	<% if(session.cart) { %>
        	<span class="badge badge-warning"><%= session.cart.totalQty %></span>
    	<% } %>
    </a>
<!-- </li> -->