<!-- loginand signup -->
  <div style="background-color: rgba(19, 35, 47, 0.9); padding-bottom: 0; padding-top: 0;" class="modal-header">
    <!-- <h5 style="color: white;" class="modal-title" id="exampleModalLabel">Modal title</h5> -->
    <button style="color: white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 <link rel="stylesheet" type="text/css" href="/stylesheets/loginSignup.css">

    <div class="form-login">
      
      <ul class="tab-group-login">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content-login">
        <div id="signup">   
        
          <p style="color: white;">Please fill out this form to register</p>

            <% if(error && error.length > 0) { %>
              <div class="alert alert-danger ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p><%=error %></p>
              </div>
            <% } %>
            <% if(success && success.length > 0) { %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p><%= success %></p>
              </div>
            <% } %>

                  
          <form action="/register" method="post">

            <div class="form-row">
              <div class="form-group col-md-6 col-lg-6">
                <input type="text" name="username" class="form-control form-control-sm" id="inputEmail4" placeholder="Email" required>
              </div>
              <div class="form-group col-md-6 col-lg-6">
                <input type="password" name="password" class="form-control form-control-sm" placeholder="Password" autofocus="autofocus" required>
              </div>
            </div>

            <div class="form-group">
              <input type="password" name="confirm" class="form-control form-control-sm" placeholder="Confirm password" required>
            </div>
            <button type="submit" value="Submit" class="btn btn-sm btn-light btn-block">Submit</button> 
          </form>
          <div class="hr-sect">OR</div>

          <a style="color: white; text-align: center;" class="btn btn-sm btn-social btn-facebook btn-block">
            <span class="fab fa-facebook-f mt-1"></span> Sign in with Facebook
          </a>
          <a style="color: white; text-align: center;" class="btn btn-sm btn-social btn-google btn-block">
            <span class="fab fa-google mt-1"></span> Sign in with Google
          </a>

        </div>
        
        <div id="login">   
          
          <h4 style="color: white">Sign In</h3>
          <p style="color: white">Please enter details to login</p>

            <% if(error && error.length > 0) { %>
              <div class="alert alert-danger ">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p><%=error %></p>
              </div>
            <% } %>
            <% if(success && success.length > 0) { %>
              <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p><%= success %></p>
              </div>
            <% } %>

          <form acton="/login" method="post">
            <div class="form-group">
              <input type="text" name="username" id="username" class="form-control form-control-sm" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="Password">
            </div>
                
            <button type="submit" class="btn btn-sm btn-light btn-block">
                  Submit <span class="lodingLogin"><img src="/img/logo/login-ajax.gif" class="img-responsive" /></span>
            </button>
            <a style="margin: 10px;" href="/forgot" id="login-forgot" class="float-left ">Forgot ?</a>
          </form>

          <!-- <form id="loginAjax">
            <div class="form-group">
              <input type="text" name="username" id="username" class="form-control form-control-sm" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control form-control-sm" placeholder="Password">
            </div>
                
            <button class="btn btn-sm btn-light btn-block" id="loginAjaxSubmit">
                  Submit <span class="lodingLogin"><img src="/img/logo/login-ajax.gif" class="img-responsive" /></span>
            </button>
            <a style="margin: 10px;" href="/forgot" id="login-forgot" class="float-left ">Forgot ?</a>
          </form> -->

        </div>    
    </div><!-- tab-content -->
      
</div> 
    
<script type="text/javascript" src="/javascript/loginSignup.js"></script>